--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

# Data & ML utils
pandas
numpy
matplotlib
scikit-learn
tqdm

# HuggingFace / LLM
datasets
transformers
bitsandbytes
accelerate

# Project
dialz
python-dotenv
